/* Globales */
html{
    box-sizing: border-box;
    font-size:62.5%; /**Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-color:#8A7350;
}
img{
    max-width: 50%;
}
.contenedor {
    max-width: 120rem; /* = 1200px*/
    margin: 0 auto;
}
/* Header */
.site-header.inicio{
    background-color:black;
    align-items: center;
}
/** NavegacionBarra **/
.navegacion-barra{
    display: inline-block;
    padding-left:20rem;
}
.navegacion-barra a{
    color:white;
    text-decoration: none;
    font-size: 1.8rem; /* = 18px*/
    margin-right: 5rem;
}
.navegacion-barra a:hover{
    color:#333333;
}
.navegacion-barra a:last-of-type{
    margin-right: 0;
}
/** Footer **/
.site-footer{
    background-color: black;
    margin: 0;
}
.contenedor-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}
.copy{
    margin: 0;
    color:white;
}
/** NavegacionFooter **/
.navegacion-footer a{
    color:white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 1.8rem;
}
.navegacion-footer a:hover{
    color:#333333;
}
.navegacion-footer a:last-of-type{
    margin-right: 0;
}