

/** BGIMG **/
main{
    background-image: url(../img/bgubi.png);
    background-position: center center;
    background-repeat: no-repeat;
}
/** MAPA **/
.mapa{
    margin:0;
    display: inline-block;
}
/** INFO **/
.info{
    color:white;
    display: inline-block;
    vertical-align: top;
}
.info li{
    list-style: none;
}